body{
    background: gray;
    font: normal 14pt Arial;
}


header{
    color: white;
    text-align: center;


}


section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin:auto;
    box-shadow: 5px 5px 5px white;
}

select#flista{
    width: 150px;
}
div {
    text-align: center;
    padding: 5px;
}

#foto{
    border-radius:50%;
    border-width: 50%;
    scale: 25%;   
     
}

footer{
    color:white;
    text-align: center;
    font-style: bold;


}